<!-- acepted_appointment_email.html.erb -->
<h1>Se acepto tu solicitud de turno</h1>
<p>Hola <%= @user.name %>,</p>
<p>Tu solicitud de turno para <%= @dogs %> a sido aceptado para el dia <%= @date %> .</p>
