<!-- canceled_appointment_email.html.erb -->
<h1>Se cancelo tu solicitud de turno</h1>
<p>Hola <%= @user.name %>,</p>
<p>Tu solicitud de turno con fecha para <%= @date %> y perros <%= @dogs %> ha sido cancelada.</p>
<% if @rejection_reason.present? %>
    <p>Motivo: <%= @rejection_reason %></p>
<% end %>