<!-- confirmed_appointment_email.text.erb -->
Confirmación de Solicitud de Turno
==========================
Hola <%= @user.name %>,

Tu solicitud de turno ha sido recibida con éxito.
<p>En los proximos dias recibirás un correo electrónico con la confirmación del turno.</p>