<!-- confirmed_appointment_email.html.erb -->
<h1>Confirmaci칩n de Solicitud de Turno</h1>
<p>Hola <%= @user.name %>,</p>
<p>Tu solicitud de turno con franja horaria <%= @timeSlot %> y perros <%= @dogs %> ha sido solicitada con exito.</p>
<p>En los proximos dias recibir치s un correo electr칩nico con la confirmaci칩n del turno.</p>
