<!-- modified_appointment_email.html.erb -->
<h1>Se modifico tu turno</h1>
<p>Hola <%= @user.name %>,</p>
<p>Tu solicitud de turno para el dia <%= @old_date %> para los perros <%= @dogs %> a sido modificada para el dia <%= @date %> .</p>
