<!-- rejected_appointment_email.html.erb -->
<h1>Se rechazo tu solicitud de turno</h1>
<p>Hola <%= @user.name %>,</p>
<p>Tu solicitud de turno con franja horaria <%= @timeSlot %> y perros <%= @dogs %> ha sido rechazada.</p>
