<!-- app/views/appointment/confirmation.html.erb -->


<% if flash[:alert] %>
<div id="alert-message">
<%= flash[:alert] %>
<button id="close-alert">OK</button>
</div>
<% else %>
<h1>Turno Creado Exitosamente</h1>
<p>¡El turno se ha creado con éxito!.</p>
<% end %>